{% extends 'dataviz/base.html' %}

{% block content %}

<div class="column">

    <div class="block">
        <div class="card my-4 p-4">
            <p> Data last collected on
                <strong class="has-text-info-dark">{{ trout_report.timestamp.datetime.date }}</strong> at <strong
                    class="has-text-info-dark">{{ trout_report.timestamp.datetime.time }} UTC</strong>.
            </p>
            <p>
                Go to the official <a target="_blank" href="https://www.mass.gov/info-details/trout-stocking-report">MA
                    DCR
                    Trout Stocking Report</a>.
            </p>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    {% for col in table_colnames %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                <tr>
                    {% for data_pt in row %}
                    <td>{{ data_pt }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}
