<!-- <!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<h1> {{ title }} </h1>
<p> {{ trout_data.timestamp.datetime }} </p> -->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trout Stocking</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Trout Stocking Report
            </p>
            <p class="subtitle">
                Custom website for studying the MA DCR trout stocking report
            </p>
        </div>
    </section>

    <div class="container is-fluid p-6">
        <p> Data last collected on
            <strong class="has-text-info-dark">{{ trout_report.timestamp.datetime.date }}</strong> at <strong
                class="has-text-info-dark">{{ trout_report.timestamp.datetime.time }}</strong>.
        </p>
    </div>

    <div class="container is-fluid">
        <table class="table">
            <thead>
                <tr>
                    {% for col in table_colnames %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                <tr>
                    {% for data_pt in row %}
                    <td>{{ data_pt }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
