<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://clipground.com/images/rainbow-trout-clipart-4.jpg" alt="logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'current_table' %}">
                Current Report
            </a>
            <a class="navbar-item" href="{% url 'current_map' %}">
                Map
            </a>
            <a class="navbar-item" href="{% url 'analysis' %}">
                Analysis
            </a>
        </div>

        <!-- <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div> -->
    </div>
    </div>
</nav>
